script.
  window.DEBUG = !{ DEBUG };
  window.picPath = '!{ picPath }';
  window.__platform__ = '!{ platform }';
  window.__isIE__ = !{ isIE };
  window.__isSafari__ = !{ isSafari };
  window.__isChrome__ = !{ isChrome };
  window.__browser__ = '!{ browser }';
  window.__browserVersion__ = '!{ browserVersion }';
  window.__INIT_STATES__ = !{ __INIT_STATES__ };